@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;font-size:0.65rem; -webkit-tap-highlight-color: transparent;
	transition:bottom 600ms,color 600ms,background-color 600ms;/* dong hua */
	 -moz-transition:bottom 600ms,color 600ms,background-color 600ms; /* Firefox 4 */
	-webkit-transition:bottom 600ms,color 600ms,background-color 600ms; /* Safari and Chrome */
	 -o-transition:bottom 600ms,color 600ms,background-color 600ms; /* Opera */}

html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;overflow-y:scroll}
html,body{width:100%;min-height:100%;color:#333;background:#f8f8f8;font-family:'黑体' Helvetica Neue,sans-serif}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}

input,select,textarea{font-size:0.65rem; outline:none; border:none; resize:none; background:none;-webkit-appearance:none;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0; width:100%;}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
i,em{font-style:normal}

a,a:active,a:visited{text-decoration: none;font-weight:normal !important; text-shadow:none !important;}
hr{ border:none; border-bottom:1px solid #999999;}
.static{position:static !important;}
.txtclip{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.hide{display:none !important}
.pull{ height:100%;width:100%;position:fixed; z-index:999; top:0; left:0; background:rgba(0,0,0,0.9); color:#fff;}
.overflow{overflow:hidden}
.overscroll{overflow-y:scroll}
.close{ text-align:center; position:fixed; bottom:0; z-index:999; color:#fff; width:100%; font-size:1.6rem; padding:4% 0;}
.ico{ display:inline-block; width:0.5rem;font-size:0;vertical-align:middle}
.img_auto_cut{position:relative; overflow:hidden; display:inline-block}
.img_auto_cut img{ position:absolute}
.img_auto_cut ._w_h{ width:100%; height:auto; left:0 !important;}
.img_auto_cut ._h_w{ height:100%; width:auto; top:0 !important;}

.clearfix:after { visibility:hidden;display:block;font-size:0;content:" ";clear:both; height:0; 
}
