@charset "utf-8";
/* CSS Document */
.f_btn,.send_btn,.ui_normal_btn,.submit_b,.li_btns > a,.headr .Withdrawals,.b_radius_2{border-radius:.2rem;}
.ui_foot_btn,.content .box,.f_shop,.b_radius_3{border-radius:.3rem;}
.ui_count,.user_img,.lis_sta > div,.f_box .nan_img,.b_radius_50{border-radius:50%;}
.head .mask .lis,.submit_b,.lis_sta p,.lis_sta > div,.b_lo > p,.d_txt > p > a,.d_txt,.f_shop,
.f_btn,.see,.center,.ui_count,.send_btn,.ui_foot_fixed_btn,.ui_foot_btn,.center{text-align:center;}
.head .mask .lis,.head .viplv_black,.modify,.c_fff,.selsct .floa,.submit_b,.lis_sta > div,.headr .Withdrawals,.f_shop,
.f_btn,.ui_count,.send_btn,.ui_foot_btn,.ui_normal_btn,.ui_btn,.head .mask .lis >div,.c_fff{color:#fff;}
.lis_sta .col,.headr font,.b_lo .examine,.b_lo .success,.h_nane font,.n_t_con >font,.c_d40f{color:#d40f20;}
.prompt,.see >a,.ui_btn_list .address div,.c_666{color:#666;}
.ui_foot_fixed_btn,.ui_normal_btn .ui_disable_btn,.box_form,.nav,.f_box,.content .box,.headr,
.record_con,.t_box,.ui_btn_list,.ui_normal_list,.bg_fff{background:#fff;}
.f_btn,.yello,.headr .Withdrawals,.f_shop,.bg_d40f{background:#d40f20;}
.ui_btn_list .item span,.ui_normal_list .item span,.ui_count,.head .mask .lis .f_txt,.f_box .nan_txt .con,
.prompt > p,.f_s_5{font-size:.5rem;}
.ui_normal_list .item span,.send_btn,.n_t_con > p,.f_s_6{font-size:.6rem;}
.ui_foot_btn,.ui_list,.f_shop,.f_s_7{font-size:.7rem;}
.display_m font,.display_m p,.f_s_8,.f_btn,.t_box .t_pric,.ui_btn_list .address tt,.b_lo > p,.f_s_8{font-size:.8rem;}
.h_nane font,.n_t_con >font,.f_s_9{font-size:.9rem;}
.record_con,.f_box .fans,.content,.headr,.p_3{padding:3%;}
.ui_btn_list .item span,.ui_normal_list .item span,.send_btn,.modify,.head .user_data,.h_nane font,.headr .Withdrawals,.h_nane font,
.display_m font,.f_right{float:right;}
.ui_list .ui_item .user_img,.head .user_img,.f_box .nan_img,.li_btns > span,.f_left{float:left;}
.ui_btn_list .item,.ui_normal_list .item,.head .mask .lis,.selsct,.state,.n_t_con,.relative{position:relative;}
.head .mask .lis:after,.ui_count,.head .mask,.selsct .floa,.c_99,.yello,.n_t_con >font,.absolute{position:absolute}
.content .box,.border_d3d3{border:1px solid #d3d3d3;}
.selsct,.box_form,.f_box .fans,.b_b_e4e4e{border-bottom:1px solid #e4e4e4;}
.ui_normal_btn,.ui_btn,.ui_ico,.selsct .department,.selsct .hotel,.txt_in1,.txt_in2,.txt_in3,.selsct .front,
.d_i_block{display:inline-block;}
.ui_btn_list .item,.ui_normal_list .item,.ui_notic_default,.ui_foot_fixed_btn,.ui_foot_btn,.submit_b,.d_block{display:block;}
.record_con font:before,.h_nane font:before,.n_t_con >font:before,.headr div font:before{content:'¥';}

/*apply_complish*/
html,body{height:100%;}
.box{height:39%;}
.box .gon{width:4rem;height:4rem;margin:auto;padding-top:13%;}
.b_lo > p{padding:5% 0;font-weight:bold;}
.b_lo .fail{color:#c55200;}
.d_txt > p > a,.d_txt{color:#989898;}
.d_txt p{padding:1% 0;}
.f_shop{width:80%;padding:5% 0;margin:10% auto;}


/*incom*/
.headr .Withdrawals{padding:1% 2%;margin-top:-0.2rem;}
.content{width:94%;}
.content .box{padding:2%;margin-bottom:3%;}
.content .box .b_titl{padding:3% 0 3% 13%;background:url(../images/ico_5.png) no-repeat left center;
color:#999;background-size:8%;border-bottom:1px solid #d3d3d3}
.h_nane{padding:5% 0;}
.n_t_con > p{padding:1% 0;}
.n_t_con >font{bottom:0px;right:0px;}
.li_btns{text-align:right;margin:3% 0 2% 0;width:100%;}
.li_btns > span{font-size:0.4rem;color:#fea533;margin-top:1%;}
.li_btns > a{border:1px solid #3e3e3e;font-size:0.5rem;padding:1% 3%;color:#3e3e3e;}

/*my_fans*/
.f_box .fans:first-child{background:#f7f7f7;}
.f_box .nan_img{width:3rem;height:3rem;overflow:hidden;margin-right:0.4rem;}
.f_box .nan_img img{height:100% !important;}
.f_box .nan_txt .use{padding:2% 0 1% 0;}
/*.f_box .nan_txt .con > font{color:#ff8522;}*/


/*form_1*/
.nav{width:94%;padding:0 3%;}
.state{display:-webkit-box;}
.lis_sta{width:18%;-webkit-box-flex:1;padding:6% 0;}
.lis_sta > div{width:1.4rem;height:1.4rem;line-height:1.4rem;
margin:auto;background:#d21527;}
.lis_sta p{color:#999;margin-top:5%;font-size:0.5rem;}
.lis_sta .bg{background:url(../images/ico_10.png) no-repeat center;background-size:100%;}
.yello{height:0.1rem;width:19%;top:40%;left:24%;}
.c_99{height:0.1rem;background:#999;width:19%;top:40%;left:57%;}
.titl{margin-top:3%;background:#e4e4e4;width:94%;padding:1% 3%;color:#525252;font-size:0.6rem;}
.box_form{width:97%;padding:0 0 0 3%;}
.selsct{padding:4% 0;}
.selsct:last-child{border:0;}
.on{background: url(../images/sta_3.png) no-repeat center right;background-position: 96% 40%;background-size: auto 80%;}
.b_sising{box-sizing:border-box;-webkit-box-sizing:border-box;}
.selsct .front{width:19%;padding-right:2%;}
.selsct .department,.selsct .hotel,.txt_in1,.txt_in2,.txt_in3{width:75%;}
.selsct .department,.selsct .hotel{background: url(../images/arro_1.png) no-repeat center right;background-position: 96% 40%;background-size: auto 50%;}
.selsct .floa{background:#d21527;padding:4% 2%;right:0;top:0px;border:1px solid #e4e4e4;}
.treaty{width:97%;padding:4% 0 4% 3%;}
.treaty > a{color:#4896e5;}
.treaty .i_no{padding-left:6%;background:url(../images/btn_o.png) no-repeat left center;background-size:27%;}
.treaty .i_ge{background:url(../images/btn.png) no-repeat left center;background-size:23%;}
.floot{width:100%;}
.submit_b{width:93%;margin:4% auto;background:#d21527;padding:5% 0;}

/*sales_center*/
.ui_ico{ height:0.8rem; width:0.8rem;vertical-align:middle; background:no-repeat center; background-size:100%;margin-top:-1%;}
.ui_ico.ui_ico1{background-image:url(../images/ico04.png);}
.ui_ico.ui_ico2{background-image:url(../images/ico05.png);}
.ui_ico.ui_ico3{background-image:url(../images/ico06.png);}
.ui_ico.ui_ico4{background-image:url(../images/ico07.png);}
.ui_ico.ui_ico5{background-image:url(../images/ico08.png);}
.ui_ico.ui_ico6{background-image:url(../images/ico09.png);}
.ui_ico.ui_ico7{background-image:url(../images/ico11.png);}
.padding{padding:4%; margin-bottom:4%}
.head{height:5.6rem;width:100%;background:url(../images/bg01.jpg) no-repeat; background-size:cover; color:#fff;position:relative;}
.head .user_name{font-size:0.8rem; margin:1% 0;}
.head .user_data{margin-top:3%; font-size:0.55rem;}
.head .user_data{ background:url(../images/ico13.png) no-repeat; background-position:center 5%; background-size:5%;}
.head .viplv_black{padding:1%; font-size:0.55rem;}
.head .mask{ background:rgba(0,0,0,0.3);width:100%;height:33%;bottom:0;left:0;display: -webkit-box;}
.head .mask .lis{-webkit-box-flex:1;padding:2% 0;}
.head .mask .lis:after{content:'';top:0px;right:0px;height:100%;width:0px;border-right:1px solid #fff;-webkit-transform:scaleY(0.5)}
.head .mask .lis:last-child:after{content:'';border-right:0px;}
.head .mask .lis >div{font-weight:100;}


.user_img{width:2.5rem; height:2.5rem;margin-right:3%;overflow:hidden}
.user_img img{ min-height:100%; min-width:100%;}

.ui_list{ padding-left:3%;border:1px solid #b5b8bd; border-left:0; border-right:0;}
.ui_list .ui_item{overflow:hidden; padding:4% 0; padding-right:3%; border-bottom:1px solid #b5b8bd;}
.ui_list .ui_item:last-child{ border-bottom:0;}
.ui_list .ui_item .user_name{ padding:2% 0;}
.ui_list .ui_item .ui_content,.ui_list .ui_item .ui_time{overflow:hidden;white-space:nowrap;text-overflow:ellipsis; color:#999999;}

.ui_btn{width:1.2rem; height:1.2rem;line-height:1.2rem;vertical-align:bottom; margin-bottom:1%}
.ui_normal_btn{-webkit-appearance:none; background:#6fcd6e;border:1px solid #6fcd6e; padding:2%;}
.ui_normal_btn .ui_disable_btn{color:#c3c3c3; border:1px solid #e3e3e3;}
.ui_foot_btn{width:93%;padding:3% 0;margin:8% auto; background:#6fcd6e;}
.ui_foot_fixed_btn{width:100%;padding:2% 0; position:fixed; bottom:0;border-top:1px solid #e3e3e3; }
.ui_foot_fixed_btn div{font-size:0.45rem; margin-top:1%; color:#000}


.disable{ background:#e3e3e3; color:#999999}
.send_btn{ background:#0088df;line-height:1.2rem;padding:1% 0;margin-right:0 !important;margin-bottom:0; white-space:nowrap;min-width:3.5em; max-width:5em;}

.ui_count{right:-0.2rem; top:-0.2rem; background:#e60012;width:0.8rem; height:0.8rem; line-height:0.8rem;}
.ui_notic_default{ color:#cf0b0b; background:#feefda; padding:2% 3%; text-decoration:underline; font-size:0.55rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.ui_border {border:1px solid #e1e1e1; border-left:0; border-right:0; margin-top:4%;}
.ui_btn_list,.ui_normal_list{padding-left:3%;}
.ui_btn_list .item,.ui_normal_list .item{padding:4%; padding-left:0;border-top:1px solid #e1e1e1; color:#000; overflow:hidden}
.ui_btn_list .item{background:url(../images/arro_1.png) no-repeat center right; background-position: 96% center;background-size: auto 30%;}
.ui_btn_list .item em {    position: relative;}
.ui_btn_list .item em tt {position: absolute;width: 0.3rem;height: 0.3rem;border-radius: 50%;background: #d40f20;right: -0.1rem;top: -0.1rem;}
.ui_btn_list .item span,.ui_normal_list .item span{margin-right:4%; color:#999;}
.ui_btn_list .item:first-child,.ui_normal_list .item:first-child{ border:0}
.ui_normal_list .item span{margin-right:0}


.ui_btn_list .address{ background:url(../images/ico10.png) no-repeat; background-position:96% center; background-size:6%}
.ui_btn_list .address:after{content:none;}
.ui_btn_list .address div{ width:80%; margin-top:2%; font-size:0.55rem;}


/*withsraw*/
.t_box{width:100%;padding:3% 0;margin-top:5%;}
.t_box .t_pric{color:#525252;padding:0 1% 0 4%;}
.prompt{width:94%;padding:1% 3%;}
.prompt > p{padding-top:2%;}
.f_btn{width:94%;margin:auto;padding:3% 0;margin-top:9%;}
.see{margin:3% 0;}

/*presentRecord*/
.record_con{border-bottom:1px solid #e5e5e5;}
.display_m{margin:1% 0;}
.display_m font{color:#d7313c;}
.record_con >p{line-height:1.5;}

