@charset "utf-8";
/* CSS Document */
.commodity{width:100%;margin-top:3%;background:#fff;padding-bottom:1%;}
.commodity .c_title{width:94%;margin:auto;color:#3d88dd;line-height:1.5rem;}
.commodity .c_title a{float:right;}
.commodity .com_con{width:98%;margin:0.5rem auto;}
.commodity .com_con .b_r{border-right:1px solid #d3d3d3;}
.commodity .com_con .b_b{border-bottom:1px solid #d3d3d3;}
.commodity .com_con .b_t{border-top:1px solid #d3d3d3;}
.commodity .com_con .com_list li{width:46%;float:left;padding:1%;}
.commodity .com_con .com_list li .c_img{display:block;width:2.8rem;height:2.8rem;float:right;}
.commodity .com_con .com_list li .c_txt{color:#a1a1a1;font-size:.48rem;line-height:1.2rem;}
.commodity .com_con .com_list li .txt_top{padding-top:0.6rem;font-size:0.6rem;}
.l_b_btn{background:rgba(0,0,0,0.7);position:fixed;bottom:3.5%;left:3%; overflow:hidden; border-radius:0.3rem;}
.l_b_btn a{display:block;width:2.5rem; height:1.8rem;float:left; background:no-repeat center center; background-size:auto 50%;}
.l_b_btn a:first-child{border-right:1px solid rgba(255,255,255,0.4)}
.l_b_btn a.car{ background-image:url(../images/ico/car_w.png);}
.l_b_btn a.person{ background-image:url(../images/ico/person_1.png);}