@charset "utf-8";
/* CSS Document */

.borderimg{ height:0.3rem; background:url(../images/ico/nav_1.png) repeat-x; background-size:auto 100%;}
.rowsbtn .address{width:92%; margin-top:0.2rem;}
.help{font-size:0.55rem; text-align:right; padding:4%; display:block}

.content .item{padding:2% 4%; background:#fff; overflow:hidden;}
.content .item:last-child{ border:0}
.content .item .itemimg{width:4rem; height:4rem; border-radius:0.3rem; float:left; margin-right:4%; overflow:hidden; border:1px solid #e4e4e4; text-align:center;}
.content .item .itemimg img{ width:auto; height:100%;}
.content .item .hotelname{ font-size:0.65rem; margin:0.25rem 0; color:#000;}
.content .item .ui_price{ font-size:0.65rem;}
.content .item .desc{ overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.content .item .count:before{ content:"x " ;font-family:Arial;}
.saoma{ text-align:center}
.saoma img{ width:50%; padding-bottom:3%;}
.erweima{ padding:2% 3%; padding-left:5%;}
.erweima img{ width:auto; height:3.5rem; float:right}
.notic{ padding:4%; text-align:justify; line-height:1.4}






