@charset "utf-8";
/* CSS Document */

.pullbill * { font-size:0.65rem}
.whileblock{ background:#fff; padding:3% 4%; margin-bottom:3%;}
.whileblock > *{vertical-align:middle;}
.pullbill .choosebtn {line-height:normal;}
.billnotic{width:88%; background:#f8e6ca; color:#ff7200; border-radius:0.3rem; font-size:0.55rem; padding:3%; margin:4% auto; line-height:1.6;}

.bill tt{ float:right; color:#888;padding-right:3%}
.item.bill tt{background:url(../images/ico/ico06.png) no-repeat right center; background-size:auto 80%;}
.pullbill .ui_list .item{padding-left:1%}

.ui_list .item.billaddress{background:url(../images/ico/ico06.png) no-repeat; background-position:97% center; background-size:auto 0.65rem; padding-right:1.2rem;}

.footfixed .fee{width:62.5%; text-indent:1em; text-align:left; float:left; background:#fff; display: -webkit-box; border-top:1px solid #e4e4e4; }
