@charset "utf-8";
/* CSS Document */

.addimg_box{ background:#fff;}
.addimg_box,.layout .textarea{width:auto; position:relative}
.layout .textarea em{display:block; width:0.5rem; height:0.5rem; position:absolute; border-left:1px solid #e4e4e4; border-top:1px solid #e4e4e4; -webkit-transform:rotate(45deg);top:-0.27rem;left:47%; background:#fff; }
.have_audio{position:absolute; width:100%; height:100%; top:0; color:#fff; z-index:10;}
.have_audio{ background:url(../images/ico/play.png) no-repeat rgba(0,0,0,0.6); background-size:auto 30%; background-position:center 30%;}
.have_audio.noimg{ background-color:#fff; background-image: url(../images/ico/listen.png);color:#555}
.have_audio.stop{ background-image: url(../images/ico/stop.png);}