@charset "utf-8";
/* CSS Document */


.nav{width:100%;padding-top:1.5%;background:#fff; margin-bottom:3%;}
.nav .nav_con{width:100%;margin:auto;bacgkround:#096;overflow:hidden;}
.nav .nav_con ul{width:100%;}
.nav .nav_con li{width:25%;float:left;}
.nav .nav_con li .fen_list{width:2rem;height:2rem;margin:auto;border-radius:50%;}
.nav .nav_con li p{margin:0.2rem 0;text-align:center;font-size:.5rem;color:#333;}

.special{width:100%;margin:0.2rem 0;}
.special .special_con{width:100%;position:relative;}
.special .special_con .s_txt{position:absolute;top:2.3%;left:3.3%;color:#227dda;}
.rankimg{width:100%;background:#fff;margin-bottom:3%;}
.rankimg .r_title{color:#227dda;text-indent:3.3%;line-height:2rem;}
.rankimg .r_con{width:96%;margin:auto;}
.rankimg .r_con ul{overflow:hidden; padding-bottom:1%;}
.rankimg .r_con ul li{width:46%;float:left;padding:1.8%;border-bottom:1px solid #e4e4e4;}
.rankimg .r_con ul li:nth-child(3n),
.rankimg .r_con ul li:last-child{border-bottom:0;}
.rankimg .r_con .rankimg_li li:nth-child(odd){border-right:1px solid #d3d3d3;}
.rankimg .r_con ul li a{display:block;width:100%;}
.rankimg .r_con ul li a p{width:60%;}
.rankimg .r_con ul li a .t_top{padding-top:7%;}
.rankimg .r_con ul li a .g_na{font-size:0.5rem;color:#999;line-height:1.2rem;}
.rankimg .r_con ul li a .goods{display:block;width:2rem;height: 2rem; float:right}
.more{ text-align:right;float: right;margin-right: 4%;}

.suit{background:none}
.suit li{margin-bottom:1.5%; background:#fff;}
.suit li,.suit li a{ overflow:hidden; position:relative;}
.suit li a,.suit em{ display:block;}
.suit em{ position:absolute; top:35%;right:7%;background:url(../images/ico/ico11.png) no-repeat center center; width:5%; height:20%; background-size:contain;}

