@charset "utf-8";
/* CSS Document */

.rowsbtn .address{width:92%; margin-top:0.2rem;}
.help{font-size:0.6rem; text-align:right; padding:4%; display:block}

.content .item{padding:2% 4%; background:#fff; overflow:hidden;}
.content .item:last-child{ border:0}
.content .item .itemimg{width:4rem; height:4rem; border-radius:0.3rem; float:left; margin-right:4%; overflow:hidden}
.content .item .hotelname{ font-size:0.7rem; margin:0.25rem 0; font-weight:bold; color:#000;}
.content .item .ui_price{ font-size:1rem;}
.content .item .count{ font-size:0.7rem;}
.content .item .count:before{ content:"x " ;font-family:Arial;}
.saoma{ text-align:center}
.saoma img{ width:70%; padding-bottom:3%;}
.erweima{ padding:2% 3%; padding-left:5%;}
.erweima img{ width:auto; height:3.5rem; float:right}
.notic{ padding:4%; text-align:justify;}
.pin_txt{background:#fff;width:94%;padding:3%;margin-top:3%;}
.pin_txt > textarea{width:100%;height:100%;color:#999;}
.state{width:94%;padding:3%;color:#999;}
.state > p{font-size:0.6rem;padding:1% 0;}





