@charset "utf-8";
/* CSS Document */

.addcount,.addcount div{ margin-top:1%;display:inline-block; height:100%; vertical-align:middle; margin-top:1%}
.addcount{ width:33%; margin-left:3%; float:left; text-align:left}
.addcount img{ width:1rem; vertical-align:middle;}
.addcount .desc{ padding-right: 3%;}
.addcount .add{ padding-left:3%;}
.addcount .addnum{background:none; vertical-align:middle; border:none; width:15%; padding:0; text-align:center; font-size:0.7rem;}