@charset "utf-8";
/* CSS Document */


.padding{padding:4%; margin-bottom:4%}
.head{background:url(../images/bg01.jpg) no-repeat; background-size:cover; color:#fff;}
.head .user_name{font-size:0.8rem; margin:2% 0;}
.head .user_data{ float:right; margin-top:3%; font-size:0.55rem;}
.head .user_data{ background:url(../images/ico13.png) no-repeat; background-position:center 5%; background-size:5%;}
.head .user_img{float:left;}
.head .viplv_black{font-size:0.55rem; background:#d40f20; border-radius:0.2rem; padding:0.1rem 0.3rem; display:inline-block;}
.head .mask{ background:rgba(0,0,0,.3); width:100%; overflow:hidden;text-align:center; padding:2% 0 }
.head .mask .item{ color:#fff; display:inline-block; width:30%;vertical-align:middle}
.head .mask .item.bod{border-right:1px solid rgba(255,255,255,0.5);width:1px; height:0.8rem;}
.head .mask .item div:last-child{ font-size:0.45rem; }
.head .mask .item div:first-child{ font-size:0.7rem; margin-bottom:2%}






