@charset "utf-8";
/* CSS Document */

.ui_male,.ui_female{ font-weight:bold;}
.ui_male:after{content:"♂";color:#237bf3;}
.ui_female:after{content:"♀"; color:#ed7f8c;}
.ui_price:before{content:"￥"; font-family:Arial;}
.ui_y_price:after{content:"元";}
.ui_red{ color:#de3734}

.ui_img_auto_cut{ width:3rem; height:3rem; position:relative; overflow:hidden; display:inline-block}
.ui_img_auto_cut img{ position:absolute}
.ui_img_auto_cut ._w_h{ width:100%; height:auto; left:0 !important;}
.ui_img_auto_cut ._h_w{ height:100%; width:auto; top:0 !important;}

.ui_tab{padding:5% 0 ;text-align:center; font-size:0;overflow:hidden;}
.ui_tab>div{display:inline-block; padding:3% 0; width:40%; border:2px solid #237bf3; background:#fff; color:#237bf3; font-size:0.6rem;}
.ui_tab>div:first-child{border-radius:0.3rem 0 0 0.3rem}
.ui_tab>div:last-child{border-radius:0 0.3rem 0.3rem 0}
.ui_tab>div.cur{ background:#237bf3; color:#fff;}

.ui_tab_btn{padding:3%; width:94%;text-align:center; background:#fff; overflow:hidden; z-index:999; border-bottom:1px solid #e8e8e8;}
.ui_tab_btn>div{display:inline-block; padding:2% 3%; border:1px solid #e8e8e8; background:#fff; color:#c3c3c3; font-size:0.5rem; border-radius:0.2rem; margin-right:2%;}
.ui_tab_btn>div:last-child{ margin-right:0}
.ui_tab_btn>div.cur{ border-color:#6fcd6e; color:#6fcd6e;}
.ui_tab_btn_style1>div{ padding:2% 6%;}
.ui_tab_btn_style1>div:first-child{ float:left}
.ui_tab_btn_style1>div:last-child{ float:right}

.user_img{width:2.5rem; height:2.5rem; border-radius:50%;margin-right:3%; overflow:hidden}
.user_img img{ min-height:100%; min-width:100%;}

.ui_list{ padding-left:3%; font-size:0.7rem;border:1px solid #b5b8bd; border-left:0; border-right:0;}
.ui_list .ui_item{overflow:hidden; padding:4% 0; padding-right:3%; border-bottom:1px solid #b5b8bd;}
.ui_list .ui_item:last-child{ border-bottom:0;}
.ui_list .ui_item .user_img{ float:left;}
.ui_list .ui_item .user_name{ padding:2% 0;}
.ui_list .ui_item .ui_content,.ui_list .ui_item .ui_time{overflow:hidden;white-space:nowrap;text-overflow:ellipsis; color:#999999;}

.ui_btn{width:1.2rem; height:1.2rem;  color:#fff; line-height:1.2rem; display:inline-block;vertical-align:bottom; margin-bottom:1%}
.ui_normal_btn{display:inline-block; -webkit-appearance:none; background:#6fcd6e;color:#fff; border:1px solid #6fcd6e; padding:2%; border-radius:0.2rem;}
.ui_normal_btn.ui_disable_btn{ background:#fff;color:#c3c3c3; border:1px solid #e3e3e3;}
.ui_foot_btn{width:93%;color:#fff; padding:3% 0;margin:8% auto; background:#6fcd6e; text-align:center; border-radius:0.3rem;display:block; font-size:0.7rem;}
.ui_foot_fixed_btn{width:100%;padding:2% 0; position:fixed; bottom:0;background:#fff; text-align:center;border-top:1px solid #e3e3e3;display:block; }
.ui_foot_fixed_btn div{font-size:0.45rem; margin-top:1%; color:#000}


.disable{ background:#e3e3e3; color:#999999}
.send_btn{ background:#0088df;color:#fff; text-align:center;line-height:1.2rem; font-size:0.6rem; border-radius:0.2rem; padding:1% 0;margin-right:0 !important;margin-bottom:0; white-space:nowrap; float:right; min-width:3.5em; max-width:5em;}

.ui_count{position:absolute; right:-0.2rem; top:-0.2rem; background:#e60012; text-align:center; color:#fff; width:0.8rem; height:0.8rem; line-height:0.8rem; font-size:0.5rem; border-radius:50%; }
.ui_notic_default{ color:#cf0b0b; background:#feefda; padding:2% 3%; display:block; text-decoration:underline; font-size:0.55rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.ui_border {border:1px solid #e1e1e1; border-left:0; border-right:0; margin-top:4%;}
.ui_btn_list,.ui_normal_list{padding-left:3%; background:#fff;}
.ui_btn_list .item,.ui_normal_list .item{padding:4%; padding-left:0;display:block; border-top:1px solid #e1e1e1; position:relative; color:#000; overflow:hidden}
.ui_btn_list .item{ background: url(../images/ico13.png) no-repeat; background-position: 96% center;background-size: auto 30%;}
.ui_btn_list .item span,.ui_normal_list .item span{float:right; margin-right:4%; color:#999; font-size:0.5rem;}
.ui_btn_list .item:first-child,.ui_normal_list .item:first-child{ border:0}
.ui_normal_list .item span{font-size:0.6rem; margin-right:0}


.ui_btn_list .address{ background:url(../images/ico10.png) no-repeat; background-position:96% center; background-size:6%}
.ui_btn_list .address:after{content:none;}
.ui_btn_list .address tt{ font-size:0.8rem;}
.ui_btn_list .address div{ width:80%; margin-top:2%; font-size:0.55rem; color:#666}

.ui_upload_img .item{overflow:hidden; padding:3%;}
.ui_upload_img .item .ui_gray{ font-size:0.5rem; padding-left:0.5em}
.ui_upload_img .imgbox{ width:3.5rem; height:3.5rem;border:2px solid #c8c8c8;float:left; margin-right:5%; margin-top:3%; border-radius:0.2rem; background: url(../images/bg02.png) no-repeat center center #f1f1f1; background-size: 50%; position:relative}
.ui_upload_img .imgbox .pass{ position:absolute; text-align:center; top:30%; width:100%; display:none;}
.ui_upload_img .imgbox .pass .ico{ background:rgba(0,0,0,0.7); border-radius:50%; padding:10%}
.ui_upload_img .imgbox .imgfill{height:100%; overflow:hidden}
.ui_upload_img .imgbox .imgfill img{ min-height:100%; min-width:100%; width:auto; max-height:150%;}