@charset "utf-8";
/* CSS Document transparent*/

*{margin:0;padding:0;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-text-size-adjust:none;-webkit-text-size-adjust:100%;font-family:PingFang SC Regular,Heiti SC,Helvetica Neue,sans-serif;outline:0; box-sizing:border-box; background-clip:padding-box; /* Safari and Chrome */}

input,select,textarea,button,a{ border:none; font-weight:normal; resize:none; background:none;-webkit-appearance:none; color:#000;}

img{border:0; width:100%;}
del{text-decoration:none; position:relative}
del:after{
  position:absolute; top:35%; left:-10%; width:120%;content:' '; height:1px; z-index:10;
  background: -webkit-linear-gradient(right,rgba(111,111,111,0.1),rgba(111,111,111,1),rgba(111,111,111,0.1));
  background: linear-gradient(right, rgba(111,111,111,0.1) ,rgba(111,111,111,1),rgba(111,111,111,0.1)); }
abbr,acronym{border:0;font-variant:normal}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
div,p{line-height:1.4}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #666666; } 
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #666666; }
a,a:active,a:visited{text-decoration: none;}
hr{padding:0; height:0.5px; border:none;
  background: -webkit-linear-gradient(right,rgba(126,107,72,0.0),rgba(126,107,72,1),rgba(126,107,72,0.0));
  background: linear-gradient(right, rgba(126,107,72,0.0) ,rgba(126,107,72,1),rgba(126,107,72,0.0)); }
.ui_loadmore{text-align:center; padding:20px 0;}
.ui_loading{background:url(../images/loading.gif) no-repeat;background-size:100%;display:inline-block;width: 80px;height: 80px;margin-left:5px;vertical-align:text-bottom;}
.scroll{overflow:auto;-webkit-overflow-scrolling:touch}
.logo{text-align: center;padding-bottom: 1.75rem;margin-top: 4.562rem;}
.logo img{height: 2.812rem; width: 15.468rem; }
/*排列*/
.center{text-align:center}
.txt_l{text-align: left;}
.txt_r{text-align:right}
.float{float:left;}
.floatr{float:right;}
.clear{clear:both}
.static{position:static !important;}
.relative{position:relative}
.absolute{position:absolute;}
.topfixed{position:fixed; top:0; width:100%;z-index:90;}
/*底部*/
.bottomfixed,.fixed_btn{position:fixed; z-index:90;width:100%;left:0;  bottom:0}
.fixed_btn{display: box;display: -webkit-box;display: -moz-box;-webkit-box-align:center}

/*loading*/
.pageloading,.pull_loading{position:fixed;height:100%;z-index:999999999;width:100%;top:0;left:0;text-align:center; background:rgba(0,0,0,0.4)}
.pageloading p,.pull_loading p{margin-top:100px;display:inline-block;font-size:14px}
.pageloading p{border-radius:8px; color:#888; background:rgba(0,0,0,0.5); font-size:10px}
.bg_ico_sigh{    background-position-y: 3px;background:url(../images/sigh.png) no-repeat center right;background-size: 5.5%;}
.bg_ico_close{    background-position-y: 3px;background:url(../images/close.png) no-repeat center right;background-size: 5.5%;background-position: right 2px;}
.pageloading p.isload,.pull_loading p{padding:40px 10px 10px 10px;min-width:150px;max-width: 150px;background:url(../images/loading.gif) no-repeat;background-position: center -28px;b;background-size: 110px;}
.pageloading p.error{width:auto; padding:4%;}
/*文字裁剪*/
.txtclip{white-space:nowrap}
.txtclip,.multiclip{ word-break:break-all;overflow : hidden;text-overflow: ellipsis; }
.multiclip{display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.clip_str>*{width:1em; overflow:hidden;display: inline-block;vertical-align:baseline;white-space:nowrap}
.bold{font-weight:bold;}

.hide{display:none !important}
.overflow{overflow:hidden}
.overscroll{overflow-y:scroll}
.disable,[disable],.gray{-webkit-filter: grayscale(100%);filter: grayscale(100%);opacity:0.9;}

/*盒子*/
.block{display:block}
.inblock{display:inline-block}
.flex{display:-webkit-box;-webkit-box-align:center;display:flex;align-items:center;}
.flexwrap{flex-wrap:wrap;}
.flexgrow,.boxflex>*{-webkit-box-flex: 1;-moz-box-flex:1;box-flex:1;flex-grow: 1; display:block;}
.flexrow{-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-flow:column;-webkit-box-pack:justify;justify-content:space-between }
.flexjustify{-webkit-box-pack:justify;justify-content:space-between;}
.webkitbox{display:-webkit-box;-webkit-box-align:center}
.webkitright{ -webkit-box-pack:end;}
.webkittop{ -webkit-box-align:baseline; align-items:baseline;}
.page{height:100%; display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-box-align:stretch; -webkit-align-items:stretch; -ms-flex-align:stretch; align-items:stretch; -webkit-flex-flow:column; -ms-flex-flow:column; flex-flow:column;}
.page header,.page footer{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}
.flextop{align-items: flex-start;-webkit-box-align: start;}

.y:before{content:"¥";font-size:0.857rem}
.border_radius{border-radius: 4px;}

.icon,.maxicon{display:inline-block;border-radius:50%; margin-right:0.36rem; text-align:center}
.icon{width:1.428rem; height:1.428rem;line-height:1.428rem; }
.maxicon{font-size:3rem;width:4rem; height:4rem; line-height:4rem}

/*间距*/
.w100{width:100%}
.w80{width:80%}
.w60{width:60%}
.w40{width:40%}
.pad20{ padding:0.609rem;}

.formlist>*{padding:1.07rem 0}

/*段落*/
.paragraph{text-indent:2rem;}
.lineheight17{line-height: 1.7}

/*右边距*/
.mar_r5,.mar_lr5{margin-right: 0.152rem;}
.mar_r10,.mar_lr10{margin-right: 0.304rem;}
.mar_r20,.mar_lr20{margin-right: 0.689rem;}
.mar_r30,.mar_lr30{margin-right: 0.938rem;}
.mar_r40,.mar_lr40{margin-right: 1.219rem;}
.mar_r60,.mar_lr60{margin-right: 1.828rem;}
.mar_r80,.mar_lr80{margin-right: 2.438rem;}

.pad_r10,.pad_lr10{padding-right:0.304rem;}
.pad_r20,.pad_lr20{padding-right:0.609rem;}
.pad_r30,.pad_lr30{padding-right:0.938rem;}
.pad_r40,.pad_lr40{padding-right:1.219rem;}
.pad_r60,.pad_lr60{padding-right:1.828rem;}
.pad_r80,.pad_lr80{padding-right:2.438rem;}

/*左边距*/
.mar_l10,.mar_lr10{margin-left: 0.304rem;}
.mar_l20,.mar_lr20{margin-left: 0.609rem;}
.mar_l30,.mar_lr30{margin-left: 0.938rem;}
.mar_l40,.mar_lr40{margin-left: 1.219rem;}
.mar_l60,.mar_lr60{margin-left:1.828rem;}
.mar_l80,.mar_lr80{margin-left:2.438rem;}

.pad_l10,.pad_lr10{padding-left:0.304rem;}
.pad_l20,.pad_lr20{padding-left:0.609rem;}
.pad_l30,.pad_lr30{padding-left:0.938rem;}
.pad_l40,.pad_lr40{padding-left:1.219rem;}
.pad_l60,.pad_lr60{padding-left:1.828rem;}
.pad_l80,.pad_lr80{padding-left:2.438rem;}

/*上边距*/
.mar_t5,.mar_tb5{margin-top: 0.152rem;}
.mar_t10,.mar_tb10{margin-top: 0.304rem;}
.mar_t20,.mar_tb20{margin-top: 0.609rem;}
.mar_t30,.mar_tb30{margin-top: 0.938rem;}
.mar_t40,.mar_tb40{margin-top: 1.219rem;}
.mar_t50,.mar_tb50{margin-top: 1.518rem;}
.mar_t60,.mar_tb60{margin-top: 1.828rem;}
.mar_t80,.mar_tb80{margin-top: 2.438rem;}

.pad_t10,.pad_tb10{padding-top: 0.304rem;}
.pad_t20,.pad_tb20{padding-top: 0.609rem;}
.pad_t30,.pad_tb30{padding-top: 0.938rem;}
.pad_t40,.pad_tb40{padding-top: 1.219rem;}
.pad_t60,.pad_tb60{padding-top: 1.828rem;}
.pad_t80,.pad_tb80{padding-top: 2.438rem;}
.pad_t100,.pad_tb100{padding-top: 3.571rem;}

/*下边距*/
.mar_b10,.mar_tb10{margin-bottom: 0.304rem;}
.mar_b20,.mar_tb20{margin-bottom: 0.609rem;}
.mar_b30,.mar_tb30{margin-bottom: 0.934rem;}
.mar_b40,.mar_tb40{margin-bottom: 1.219rem;}
.mar_b50,.mar_tb50{margin-bottom: 1.518rem;}
.mar_b60,.mar_tb60{margin-bottom: 1.828rem;}
.mar_b80,.mar_tb80{margin-bottom: 2.438rem;}

.pad_b5,.pad_tb5{padding-bottom:0.152rem;}
.pad_b10,.pad_tb10{padding-bottom:0.304rem;}
.pad_b20,.pad_tb20{padding-bottom:0.609rem;}
.pad_b30,.pad_tb30{padding-bottom:0.934rem;}
.pad_b40,.pad_tb40{padding-bottom:1.219rem;}
.pad_b50,.pad_tb50{padding-bottom: 1.518rem;}
.pad_b60,.pad_tb60{padding-bottom:1.828rem;}
.pad_b80,.pad_tb80{padding-bottom: 2.438rem;}
.pad_b100,.pad_tb100{padding-bottom: 3.571rem;}


/*正方图*/
.squareimg{ position:relative; padding-bottom:100%; overflow:hidden}
.squareimg img{position:absolute; width:100%; left:0; min-height:100%}

/*列表*/
.list_style em{display:inline-block; text-align:center; line-height:1}
.list_style>*{display: box;display: -webkit-box;display: -moz-box;-webkit-box-align:center;}
.list_style,.bd_list{padding:0 1.07rem;}
.list_style>*,.bd_list>*{padding:1rem 0;position:relative;}
.list_style>*:after,.bd_list>*:after{height: 1px;content: '';width: 100%; border-top: 1px solid #363636;position: absolute;bottom: -1px; right: 0;transform: scaleY(0.5);-webkit-transform: scaleY(0.5);z-index: 10;}
.list_style.noborder>*:last-child:after,.bd_list>*:last-child:after{ border-top:0}

.input_item{white-space:nowrap}
.input_item>*:first-child{min-width:5rem;display:inline-block}

/*radio和checkbox*/
.check{display:inline-block;width:1.1rem;height:1.1rem;font-style:normal;}
.check input[type=radio],.check input[type=checkbox]{display:none}
.check em:after,.check em:after{ content:'\e009';font-family:"iconfont";color: #666666;font-size: 1.02rem;}
.check input[type=radio]:checked+em:after,.check input[type=checkbox]:checked+em:after,.checked .submit_order_check em:after{ content:'\e010';color: #b2945e;}

/*选择控件*/
.on_checked{position: relative;display: inline-block;vertical-align: top;width: 3.275rem;height: 1.837rem;margin-left: 5px;background-color: #ab8e5a;border-radius: 25px;}
.on_checked:after{content: "";position: absolute;width: 1.7rem;height: 1.68rem;right: 0.1rem;top: 0.07rem;border-radius: 25px;background-color: #363636;}
.off_checked{background-color: rgba(0,0,0,0);border: 1px solid #1f1f1f;}
.off_checked:after{left: 0px;top: 0.011rem;right: initial;background-color: #363636;}
.disable_checked{background-color: rgba(0,0,0,0);border: 1px solid #1f1f1f;}
.disable_checked:after{left: 0px;top: 0.011rem;background-color: #363636;}
/*加减控件*/
.number_control{position: relative;padding: .356rem .542rem;margin-right:.906rem;}
.number_control span{position: relative;z-index: 2;}
.number_control:after{z-index: 1;content: ''; width: 200%; height: 200%; position: absolute; top: 0; left: 0; border: 1px solid #505050; -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5); -webkit-transform-origin: top left;border-radius: 4px;}
.number_control_main{width: 3.625rem;display: inline-block;text-align: center;border-radius: 4px;}
.number_control .off{color: #333333;}
/*旋转*/
.rotate180{transform:rotate(-60deg); -webkit-transform:rotate(-60deg);display:inline-block}
.rotate180{transform:rotate(180deg); -webkit-transform:rotate(180deg);display: inline-block;}
/*浮层*/
.load{position:fixed;z-index:999999999;width:100%;height:100%;top:0;left:0;
background:url(../images/loading.gif) no-repeat rgba(0,0,0,0.5) center center;background-size:30px;}

.fixedlayer{ position:fixed; background:rgba(0,0,0,0.7);}
.nonelayer,.successlayer,.fixedlayer{top:0; left:0;width:100%; z-index:555;height:100%;}
.nonelayer,.successlayer{  background:no-repeat center 5em; background-size:auto 5em;  text-align:center;}
.nonelayer>div,.successlayer>div{padding:11em 0 20px 0;}
.nonelayer{background-image:url(../images/none.png)}
.successlayer{background-image:url(../images/success.png)}
.iconload{background:url(../images/loading.gif) no-repeat; background-size:100%; display:inline-block; width:24px; height:24px; margin-left:5px;}

/*  按钮 */
.button,.button2{cursor:pointer;color:#fff;text-align:center;min-width:7.32rem;display:block;position: relative;height:  2.812rem;line-height:  2.812rem;padding-top: 0.15rem;}
.button:after{content: ''; width: 200%; height: 200%; position: absolute; top: 0; left: 0; border: 1px solid #b2945e; -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5); -webkit-transform-origin: top left;}
.button2{border:1px solid #b2945e;}
.button.xs,.button2{display:inline-block;padding:0.48rem 0;letter-spacing:normal;height: auto;line-height: inherit;}
.button2{border-color:transparent; background:#b2945e;}
.button[disabled],.button.disabled,.button2.disabled,.button2[disabled]{ background:#333; color:#666666; border-color:#333}
.button[disabled]:after,.button.disabled:after,.button2.disabled:after,.button2[disabled]:after{border: 0px}
.spacing{letter-spacing:3px;}
/* 边框 */
/*.bd_all,*/
.bd,.bd_top,.bd_bottom,.bd_left,.bd_right,.bd_border{ position:relative;}
.bd:after,.bd_bottom:after,.bd:before,.bd_top:before,.bd_left:before,.bd_right:after{content: "";position: absolute;z-index:10}
.bd:after,.bd_bottom:after,.bd:before,.bd_top:before{border-top:1px solid #363636;left: 0;width: 100%; height:0; -webkit-transform: scaleY(.5); transform: scaleY(.5); }
.bd_left:before,.bd_right:after{border-left:1px solid #363636;top: 0;width: 0; height:100%; -webkit-transform: scaleX(.5); transform: scaleX(.5); }
.bd_border:after{content: ''; width: 200%; height: 200%; position: absolute; top: 0; left: 0; border: 1px solid ; border-radius: 4px; -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5); -webkit-transform-origin: top left;}
.bd_color1:after,.bd_color1:before{ border-color:#363636;}
.bd_color2:after,.bd_color2:before{ border-color:#3a3a3a;}
.bd_color3:after,.bd_color3:before{ border-color:#505050;}
.bd0:after{border: 0px!important;}
.bd:after,.bd_bottom:after{ bottom:-1px;}
.bd:before,.bd_top:before{top:-1px;}
.bd_left:before{left:0px}
.bd_right:after{right:0px}

.bd_clear{border: 0px!important;}
/*条件选择*/
.condition{text-align: left;overflow: hidden;}
.condition > div{float: left;position: relative;width: 31%;margin-right: 2.3%;margin-bottom: 10px;border-radius: 4px;padding:0.7rem 0;text-align: center;}
.condition > div:after{content: ''; width: 200%; height: 200%; position: absolute; top: 0; left: 0; border: 1px solid #505050; border-radius: 4px; -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5); -webkit-transform-origin: top left;}
.condition span{display: none;position: absolute;top: -3.5px;right: -3.5px;width: 25px;height: 25px;}
.condition .active:after{border:1px solid #b2945e;}
.condition .active span{display: block;}
/* 背景色 */
body,html{width:100%; height:100%; background:#2d3132;/*微信网页背景色*/}
/*固定色*/
.bg_999{background-color:#999;}
.bg_888{background-color:#888;}
.bg_555{background-color:#555;}
.bg_000{background-color:#000;}
.bg_282828{background-color:#282828;}
.bg_090909{background-color:#090909;}
.bg_999,.bg_888,.bg_555,.bg_000{color:#fff}

/*辅助色系*/
.color1_bg{background-color: #ffffff;}
.color2_bg{background-color: #bfbfbf;}
.color3_bg{background-color: #666666;}
.color4_bg{background-color: #333333;}
.color5_bg{background-color: #d6bf95;}
.color5_bg_gradient{background:-webkit-linear-gradient(right,#b3955f,#bca06d,#c9b082,#d5be94);}
.layer_bg{ background-color: #1f1f1f;}

/*主色系*/
.main_bg1{ background-color: #b2945e}
.main_bg2{ background-color: #dbc576}
.main_bg3{ background-color: #8b734f}
.main_bg4{ background-color: #000000}

.gradient_bg{ /*渐变背景*/
min-height:100%;
background: -webkit-linear-gradient(left,rgba(9,9,9,1),rgba(22,22,22,1),rgba(22,22,22,1),rgba(9,9,9,1));
background: linear-gradient(left,rgba(9,9,9,1),rgba(22,22,22,1),rgba(22,22,22,1),rgba(9,9,9,1));}
.gradient_radial_bg{ /*渐变背景*/
min-height:100%;
background: -webkit-radial-gradient(#333333, #2d2d2d, #252525);)
background: radial-gradient(#333333, #2d2d2d, #252525);}
.bg_alpha{  /*渐变透明*/
  background: url("../images/roomlist_bg.png");
  background-size: 100% 100%;
}
/*默认图*/
.default_banner_img{background: url("../images/default_banner.png") no-repeat;background-size: 8.925rem 8.812rem;background-position: center 40%;display: block;top: 0px;width: 100%;height: 416px;width: 100%;}
.default_room_img{background: url("../images/default_rectangle.png") no-repeat;background-size: 100px 100px;background-position: center center;height: 8.125rem;display: inline-block;position: absolute;top: 0px;width: 100%;}
.default_translate_img{background: url("../images/default_translate.png") no-repeat;background-size: 132px 132px;background-position: 0px 40%;display: block;position: absolute;top: 0px;height: 132px;width: 100%;}
/*弹窗*/
.whole_eject{position: fixed;top: 0px;height: 100%;width: 100%;padding: 0.937rem;background-color: rgba(1,1,1,0.9);z-index: 10;}
.whole_all_eject{width: 100%;height: 100%;padding: 3%;z-index: 10;border-radius: 4px;}
.whole_eject_content,.whole_all_eject_content{height: 100%;position: relative;border-radius: 3.5px;}
.whole_eject_small{position: relative;margin-top: 45%;border-radius: 4px;}
.whole_bottom_small_wrap{position: absolute; bottom: 70px; width: 94%; left: 3%;max-height: 90%;overflow: scroll;}
.whole_bottom_small{}
.iScrollIndicator{width: 2.5px!important;border: 0px!important;background: #666666!important;right: 0px!important;}
/*评分条*/
.score_bar{ display: block; height: 0.25rem;border-radius: 7px;margin-top: 0.375rem;}

/*空白页*/
.blankpage{text-align: center;margin-top: 40%;}
.blankpage .iconfont{font-size: 38px;margin-bottom: 20px;}
/* 字体色 */ 
body,html,a{color:#bfbfbf;}
/*固定色系*/
.color_fff,a.color_fff{color:#fff;}
.color_eee,a.color_eee{color:#eee;}
.color_999,a.color_999{color:#999;}
.color_888,a.color_888{color:#888;}
.color_555,a.color_555{color:#555;}
.color_000,a.color_000{color:#000;}
/*辅助色系*/
.color1,a.color1{color: #ffffff;}
.color2,a.color2{color: #bfbfbf;}
.color3,a.color3{color: #666666;}
.color4,a.color4{color: #333333;}
.color5,a.color5{color: #363636;}
.color6,a.color6{color: #474747;}
.color7,a.color7{color: #d6bf95;}
.color8,a.color8{color: #aa9b7c;}
/*主色系*/
.main_color1,a.main_color1{color: #b2945e;}
.main_color2,a.main_color2{color: #dbc576;}
.main_color3,a.main_color3{color: #8b734f;}
.main_color4,a.main_color4{color: #dac576;}
/* 字体大小 */
html{font-size:100%}/*基础字体大小  1rem = 14px  */
body,input,button,textarea{font-size:1rem;}  

/* 750px设计稿字体大小 */

.h60{font-size:1.828rem}
.h50{font-size:1.744rem}
.h48{font-size:1.462rem}
.h42{font-size:1.280rem}
.h40{font-size:1.219rem}
.h38{font-size:1.158rem}
.h36{font-size:1.097rem}
.h34{font-size:1.036rem}
.h32{font-size:0.975rem}
.h30{font-size:0.914rem}
.h28{font-size:0.853rem}
.h26{font-size:0.792rem}
.h24{font-size:0.731rem}
.h22{font-size:0.671rem}
.h20{font-size:0.609rem}
.h18{font-size:0.548rem}
.h16{font-size:0.462rem}
@font-face {font-family: 'iconfont';
    /*src: url('iconfont.eot');  IE9*/
    /*src: url('iconfont.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    src: url('../fonts/iconfont.woff?0712') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf?0712') format('truetype') /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    /*url('iconfont.svg#svgFontName?0712') format('svg');  iOS 4.1- */
}
.iconfont{font-family:"iconfont";font-style:normal;}
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){}
} 

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 
	html{font-size:115%}
/*.h60{font-size:2.142rem}
.h50{font-size:1.785rem}
.h48{font-size:1.714rem}
.h42{font-size:1.5rem}
.h40{font-size:1.428rem}
.h38{font-size:1.357rem}
.h36{font-size:1.285rem}
.h34{font-size:1.214rem}
.h32{font-size:1.142rem}
.h30{font-size:1.071rem}
.h28{font-size:1rem}
.h26{font-size:0.928rem}
.h24{font-size:0.857rem}
.h22{font-size:0.785rem}
.h20{font-size:0.714rem}
.h18{font-size:0.642rem}
.h16{font-size:0.571rem}*/
}