@charset "utf-8";
/* CSS Document */
body,html{background:#dad9d7 !important;}

.img_class{white-space:nowrap; font-size:0; padding-right:0}
.img_class > *{display:inline-block; overflow:hidden; width:200px; position:relative; padding-right:4px;}
.img_class .squareimg{ padding-bottom:40%;}
.img_class .class_name{ top:35%;} 

.tp_list { padding:0 4px 4px 4px}
.tp_list .item{ margin-bottom:4px; background:none; box-shadow:none; padding:0}
.tp_list .squareimg{padding-bottom:56%; border-radius:4px; overflow:hidden}
.tp_list .bn_title{background:rgba(255,255,255,0.8); color:#3d3935;  width:95%; left:2.5%}
.tp_list .bn_title_name{ max-width:70%}