
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 4 hours"
ExpiresByType text/javascript A900
ExpiresByType text/style A900
ExpiresByType application/javascript A900
ExpiresByType application/x-javascript A900
ExpiresByType application/x-shockwave-flash A3600
</IfModule>
 