* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background: #f8f8f8;
}
.box {
  display: -webkit-box;
}
.flex1 {
  -webkit-box-flex: 1;
}
.mt-16 {
  margin-top: 8px;
}
.bg-white {
  background: #ffffff;
}
.f24 {
  font-size: 12px;
}
.f20 {
  font-size: 10px;
}
.f22 {
  font-size: 11px;
}
.f30 {
  font-size: 15px;
}
.f32 {
  font-size: 18px;
}
.f26 {
  font-size: 13px;
}
.ta-r {
  text-align: right;
}
.pd-19 {
  padding: 0 9.5px;
}
.c333 {
  color: #333;
}
.c555 {
  color: #555;
}
.c888 {
  color: #888;
}
.cff9900 {
  color: #ff9900;
}
.bgff9900 {
  background-color: #ff9900;
}
.c98 {
  color: #989898;
}
.c666 {
  color: #666;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.border-bottom {
  border-bottom: 1px solid #f5f5f5;
}
.kill-layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.kill-layer .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  min-width: 260px;
  width: 80%;
  background: #ffffff;
  overflow: hidden;
  border-radius: 7.5px;
  padding: 25px 28px 20px 28px;
}
.kill-layer .container .title {
  text-align: center;
  color: #222222;
  font-weight: normal;
  margin-bottom: 20px;
}
.kill-layer .container .content {
  color: #222222;
}
.kill-layer .container .content.tip-content {
  text-align: center;
  margin-bottom: 30px;
}
.kill-layer .container .qrcode-container {
  text-align: center;
}
.kill-layer .container .qrcode-container .qrcode {
  border: 1px solid #f3f4f8;
  width: 131px;
  height: 131px;
  padding: 8px;
  margin-top: 15px;
  display: inline-block;
}
.kill-layer .container .qrcode-container .qrcode img {
  width: 100%;
  max-width: 100%;
}
.kill-layer .container .tips {
  margin-top: 20px;
  text-align: center;
}
.kill-layer .container .btn-group {
  text-align: center;
  margin-top: 20px;
  line-height: 1;
}
.kill-layer .container .btn-group .btn {
  display: inline-block;
  border-radius: 2.5px;
  padding: 6px 30px;
  border: 1px solid #ff9900;
  overflow: hidden;
  color: #ff9900;
}
.kill-layer .container .btn-group .btn.active {
  color: #ffffff;
  background: #ff9900;
}
#seckill-detail .make-money {
  width: 79.5px;
  height: 78.5px;
  position: fixed;
  right: 10px;
  bottom: 25%;
  z-index: 99999999;
}
#seckill-detail .make-money a {
  position: absolute;
  width: 72.5px;
  height: 70px;
  background: url(../v1/images/momey.png) center center no-repeat;
  background-size: 100% 100%;
  bottom: 0;
  left: 0;
}
#seckill-detail .make-money .make-money-close {
  position: absolute;
  width: 18px;
  height: 18px;
  background: url(../v1/images/close.png) center center no-repeat;
  background-size: 100% 100%;
  right: 0;
  top: 0;
}
#seckill-detail .wrap {
  margin-bottom: 58px;
}
#seckill-detail .banner img {
  width: 100%;
}
#seckill-detail .info {
  padding: 13px 9.5px 11px;
}
#seckill-detail .info .info_left {
  width: 70%;
  line-height: 1.5;
}
#seckill-detail .post {
  padding: 11px 9.5px 6px;
  overflow: hidden;
}
#seckill-detail .post .item {
  margin-bottom: 5px;
  margin-right: 20px;
}
#seckill-detail .post .item span {
  display: block;
  height: 14px;
  line-height: 14px;
}
#seckill-detail .post .item .icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  background: url("../v1/images/choice.png") center center no-repeat;
  background-size: contain;
}
#seckill-detail .choice {
  padding: 8px 9.5px;
}
#seckill-detail .choice .title,
#seckill-detail .choice .content {
  height: 20px;
  line-height: 20px;
}
#seckill-detail .choice .title {
  margin-right: 23px;
}
#seckill-detail .choice .arrow {
  width: 7px;
  height: 12px;
  background: url("../v1/images/arrow.png") center center no-repeat;
  background-size: contain;
  right: 9.5px;
  top: 50%;
  margin-top: -6px;
}
#seckill-detail .source {
  padding: 11px 9.5px;
}
#seckill-detail .source .icon {
  display: block;
  height: 14px;
  width: 12px;
  margin-right: 6px;
  background: url("../v1/images/tip.png") center center no-repeat;
  background-size: contain;
}
#seckill-detail .source .content {
  height: 14px;
  line-height: 14px;
}
#seckill-detail .store {
  display: none;
  box-sizing: content-box;
  padding: 8px 9.5px;
}
#seckill-detail .store .content {
  height: 20px;
  line-height: 20px;
}
#seckill-detail .store .surplus {
  height: 20px;
  line-height: 20px;
}
#seckill-detail .store .progress {
  height: 20px;
  margin-right: 10px;
  background: #ffffff;
}
#seckill-detail .store .progress .bar {
  top: 50%;
  left: 0;
  margin-top: -5px;
  height: 10px;
  width: 100%;
  background-color: #ebebeb;
  border-radius: 10px;
  overflow: hidden;
}
#seckill-detail .store .progress .bar div {
  width: 0;
  height: 10px;
  background: url("../v1/images/progress.png") 0 0 repeat;
  border-radius: 10px;
  -webkit-transition: all 1s;
}
#seckill-detail .subtitle {
  padding: 8px 9.5px;
}
#seckill-detail .subtitle h2 {
  margin-right: 11px;
}
#seckill-detail .subtitle span {
  display: block;
}
#seckill-detail .subtitle h2,
#seckill-detail .subtitle span {
  height: 20px;
  line-height: 20px;
}
#seckill-detail .know .content {
  padding: 10px 9.5px 12px 14.5px;
}
#seckill-detail .know .content p {
  line-height: 1.5;
}
#seckill-detail .goods-content {
  box-sizing: content-box;
}
#seckill-detail .goods-content ul li div {
  box-sizing: content-box;
  padding: 8px 0;
  height: 20px;
  line-height: 20px;
}
#seckill-detail .goods-content ul li:last-child {
  border-bottom: none;
}
#seckill-detail .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 99;
  background: #dcdcdc;
}
#seckill-detail .footer .content {
  overflow: hidden;
}
#seckill-detail .footer .content .footer_l,
#seckill-detail .footer .content .footer_r {
  height: 50px;
}
#seckill-detail .footer .content .footer_l {
  width: 60%;
  padding: 10.75px 0;
}
#seckill-detail .footer .content .footer_l .section {
  height: 28.5px;
}
#seckill-detail .footer .content .footer_l .section a {
  display: block;
  width: 28.5px;
  height: 28.5px;
  background: #dcdcdc;
  margin-right: 5px;
}
#seckill-detail .footer .content .footer_l .section .home {
  background: url("../v1/images/home.png") center center no-repeat;
  background-size: contain;
}
#seckill-detail .footer .content .footer_l .section .order {
  background: url("../v1/images/order.png") center center no-repeat;
  background-size: contain;
}
#seckill-detail .footer .content .footer_l .section .price {
  display: table-cell;
  padding-top: 6px;
  height: 20px;
  vertical-align: bottom;
  font-size: 17px;
}
#seckill-detail .footer .content .footer_l .section .price .symbol {
  margin-right: 3px;
}
#seckill-detail .footer .content .footer_l .section .price .original {
  text-decoration: line-through;
  margin-left: 3px;
}
#seckill-detail .footer .content .footer_r {
  width: 40%;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}
#seckill-detail .footer .content .footer_r.disabled {
  background: #808080;
}
#seckill-pay .wrap {
  margin-bottom: 58px;
}
#seckill-pay .header {
  overflow: hidden;
  padding: 8px 9.5px 3px;
}
#seckill-pay .header .item {
  margin-bottom: 5px;
  margin-right: 10px;
}
#seckill-pay .header .item span {
  display: block;
  height: 14px;
  line-height: 14px;
}
#seckill-pay .header .item .icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  background: url("../v1/images/choice.png") center center no-repeat;
  background-size: contain;
}
#seckill-pay ul {
  padding: 0 13px;
}
#seckill-pay ul .title {
  height: 31px;
  line-height: 31px;
}
#seckill-pay ul li {
  padding: 6px 0;
}
#seckill-pay ul li .em {
  margin: 0 0.5em;
}
#seckill-pay ul li input {
  display: block;
  height: 31px;
  line-height: 31px;
  outline: none;
  border: none;
  margin-left: 23px;
}
#seckill-pay ul li input::-webkit-input-placeholder {
  color: #c3c3c3;
}
#seckill-pay ul li .choice {
  height: 31px;
  line-height: 31px;
}
#seckill-pay ul li .choice span {
  top: 50%;
  right: 4px;
  -webkit-transform: translate(0, -50%);
  width: 15px;
  height: 15.5px;
  background: url("../v1/images/disabled.png") center center no-repeat;
  background-size: contain;
}
#seckill-pay ul li .choice.active span {
  background: url("../v1/images/choice.png") center center no-repeat;
  background-size: contain;
}
#seckill-pay .goods-detail {
  padding: 13px;
}
#seckill-pay .goods-detail .goods-img {
  width: 80px;
  height: 80px;
  background: #dcdcdc;
  margin-right: 18px;
  overflow: hidden;
}
#seckill-pay .goods-detail .goods-img img {
  width: 100%;
}
#seckill-pay .goods-detail .goods-info {
  padding-top: 8px;
}
#seckill-pay .goods-detail .goods-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#seckill-pay .goods-detail .goods-info .goods-name {
  margin-bottom: 14px;
}
#seckill-pay .title {
  height: 25px;
  line-height: 25px;
}
#seckill-pay .number {
  box-sizing: content-box;
  padding: 7px 13px;
  height: 25px;
}
#seckill-pay .number .limit {
  height: 25px;
  line-height: 25px;
  margin-left: 10px;
  position: relative;
}
#seckill-pay .number .limit span {
  position: absolute;
  color: #ffffff;
  min-width: 50px;
  text-align: center;
  border-radius: 2.5px;
  height: 15px;
  line-height: 15px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  padding: 0 3px;
}
#seckill-pay .number .flex1 {
  text-align: right;
}
#seckill-pay .number .flex1 .number-input {
  display: inline-block;
  width: 102px;
  height: 24px;
  border: 1px solid #dcdcdc;
  line-height: 25px;
  overflow: hidden;
}
#seckill-pay .number .flex1 .number-input .reduce {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-right: 1px solid #dcdcdc;
}
#seckill-pay .number .flex1 .number-input .reduce:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 2px;
  background: #555555;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}
#seckill-pay .number .flex1 .number-input .number-mask {
  position: relative;
}
#seckill-pay .number .flex1 .number-input .number-mask:after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 99;
}
#seckill-pay .number .flex1 .number-input input {
  width: 52px;
  height: 24px;
  line-height: 24px;
  border: none;
  background: none;
  text-align: center;
}
#seckill-pay .number .flex1 .number-input input[disabled] {
  background: #ffffff;
  color: #000;
}
#seckill-pay .number .flex1 .number-input .increase {
  width: 24px;
  height: 24px;
  border-left: 1px solid #dcdcdc;
}
#seckill-pay .number .flex1 .number-input .increase:after,
#seckill-pay .number .flex1 .number-input .increase:before {
  position: absolute;
  content: "";
  background: #555555;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}
#seckill-pay .number .flex1 .number-input .increase:after {
  width: 8px;
  height: 2px;
}
#seckill-pay .number .flex1 .number-input .increase:before {
  width: 2px;
  height: 8px;
}
#seckill-pay .order-time {
  padding: 7px 13px;
}
#seckill-pay .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
}
#seckill-pay .footer .flex1 {
  padding-left: 18.5px;
}
#seckill-pay .footer .flex1 .table-cell {
  height: 40px;
  line-height: 40px;
  display: table-cell;
  vertical-align: bottom;
}
#seckill-pay .footer .buy {
  display: block;
  width: 131px;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 375px) {
  .f22 {
    font-size: 13px;
  }
  .f24 {
    font-size: 14px;
  }
  .f26 {
    font-size: 15px;
  }
  .f20 {
    font-size: 12px;
  }
  .f30 {
    font-size: 17px;
  }
  .f32 {
    font-size: 20px;
  }
}
@media screen and (min-width: 360px) {
  .f22 {
    font-size: 13px;
  }
  .f24 {
    font-size: 14px;
  }
  .f26 {
    font-size: 15px;
  }
  .f20 {
    font-size: 12px;
  }
  .f30 {
    font-size: 17px;
  }
  .f32 {
    font-size: 20px;
  }
}
@media screen and (min-width: 412px) {
  .f22 {
    font-size: 14px;
  }
  .f24 {
    font-size: 15px;
  }
  .f26 {
    font-size: 16px;
  }
  .f20 {
    font-size: 13px;
  }
  .f32 {
    font-size: 19px;
  }
  .f30 {
    font-size: 18px;
  }
}
