@charset "utf-8";
/* CSS Document */
.c_b5b{color:#555;}
.p_r_66{padding-left:0.66rem;}
.c_ff9{color:#316f4d;}
.j_txt_list li,.j_box_list .p_r_66 .y,.f_s_68{font-size:0.73rem;}
.f_s_8{font-size:0.8rem;}
.f_s_85{font-size:0.85rem;}
.f_s_91{font-size:0.91rem;}
.p_lr_2{padding:0 2%;}
.bg_fcf{background:#fcfcfc;}
.j_box_list{padding-bottom:0.67rem;}
.j_class_list .item img{width:26px;height:26px;}
.j_class_list .item p{font-size:0.8rem;}
.j_box_list{background:#fff;}
.j_box_list img{display:block;width:100%;height:auto;}
.j_padd{padding:2%;width:100%;}
.j_padd .item{width:49%;float:left;margin:1%;}

/**/
.headers img{display:block;}
.j_li_txt{font-size:10px;display:block;}
.j_li_txt img{width:17px;height:auto;vertical-align:bottom;margin-right:10px}
.j_li_txt p{display:inline-block;}
.m_tb_1{margin:2% 0;}
.f_s_14{font-size:14px;}
.f_s_12{font-size:12px;}
.c_989{color:#989898;}
.j_buy_list li:last-child{border-image:0;}
.j_txt_list li{padding:2% 3%;}
.j_r_txt{float:right}

.j_bor_bg{border:1px solid #316f4d;border-radius:4px;}
.bg_eee{background:#eee;}
.bg_ff9{background:#316f4d;}
.j_ico_btn,.j_ico_btn img{width:29px;height:29px;}
.c_ff9{color:#316f4d;}
.m_t_2{margin-top:2%;}
.p_tb_10{padding:4px 0;}

.j_class_list .item,.j_class_list .j_li_txt{
    -webkit-box-flex: 1;
  box-flex: 1;
}
.j_class_list .item{
    display: block;
  padding:3% 0;
}
.tp_list {padding:1% 0; overflow:hidden;}
.tp_list .item{width:47.9%; margin:1%; float:left; padding:0; display:flex;flex-flow:column;justify-content:space-between; align-items: stretch}
.tp_list_box1 .item,.tp_list_box2 .item{width:100%;margin:2% 0;}
.tp_list .img{height:0 !important; padding-bottom:100%; position:relative}
.tp_list img{position:absolute;left:0;top:0; width:100%; height:100%;} 
.tp_list .item p{padding:11px 11px 0 11px; text-align:justify;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.tp_list .item p:last-child{padding:11px;}
.tp_list .item_foot em { display:inline-block; margin:0 8px; opacity:0.5}
.foot_fixed .webkitbox{padding:3% 1%}
.foot_fixed .webkitbox>*{display:block; margin:0 3px; padding:5px;text-align:center; height:33px; box-sizing:border-box;}
.foot_fixed .img_link {max-width:33px; padding:0}

.j_label{position:absolute;top:0px;right:5px;width:60px;height:30px;background:url(../images/img/ico30.png) no-repeat;background-size:100%;text-align:center;}
.tab_menus div.cur{
  border-bottom: 3px solid #316f4d;
  color: #316f4d;
}
.group_rule .active hr{ border-color: #316f4d}
.against,.mcolor,.group_rule .active{color:#316f4d;}
.m_bg,.after_float,.hot:after,.hot_city li.cur,.result_btn >*,
.group_rule .active em,.step_style em,.drop_down_menu.cur{ background:#316f4d;}
.color_main, a.color_main, .btn_void, a.btn_void{color: #316f4d;}
.bg_main, a.bg_main, .btn_main, a.btn_main{background-color: #316f4d;}
.color_ff950d{color:#316f4d;}
.color_ff9900{color:#316f4d;}
.bg_ff9900{background:#316f4d;}
.cont_price{color: #316f4d;}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.box {
  display: -webkit-box;
}
.flex1 {
  -webkit-box-flex: 1;
}
.mt-16 {
  margin-top: 8px;
}
.bg-white {
  background: #ffffff;
}
.f24 {
  font-size: 12px;
}
.f20 {
  font-size: 10px;
}
.f22 {
  font-size: 11px;
}
.f30 {
  font-size: 15px;
}
.f32 {
  font-size: 18px;
}
.f26 {
  font-size: 13px;
}
.ta-r {
  text-align: right;
}
.pd-19 {
  padding: 0 9.5px;
}
.c333 {
  color: #333;
}
.c555 {
  color: #555;
}
.c888 {
  color: #888;
}
.cff9900 {
  color: #316f4d;
}
.bgff9900 {
  background-color: #316f4d;
}
input[type=radio]:checked+.radio,input[type=radio]:checked+.checkbox,.choose .b_radius{border-color:#316f4d}
input[type=radio]:checked+.radio>*,input[type=radio]:checked+.checkbox>*,.choose .b_radius>*{background:#316f4d;}
.c98 {
  color: #989898;
}
.c666 {
  color: #666;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.border-bottom {
  border-bottom: 1px solid #f5f5f5;
}
.kill-layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.kill-layer .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  min-width: 260px;
  width: 80%;
  background: #ffffff;
  overflow: hidden;
  border-radius: 7.5px;
  padding: 25px 28px 20px 28px;
}
.kill-layer .container .title {
  text-align: center;
  color: #222222;
  font-weight: normal;
  margin-bottom: 20px;
}
.kill-layer .container .content {
  color: #222222;
}
.kill-layer .container .content.tip-content {
  text-align: center;
  margin-bottom: 30px;
}
.kill-layer .container .qrcode-container {
  text-align: center;
}
.kill-layer .container .qrcode-container .qrcode {
  border: 1px solid #f3f4f8;
  width: 100px;
  height: 100px;
  padding: 8px;
  margin-top: 15px;
  display: inline-block;
}
.kill-layer .container .qrcode-container .qrcode img {
  width: 100%;
  max-width: 100%;
}
.kill-layer .container .tips {
  margin-top: 20px;
  text-align: center;
}
.kill-layer .container .btn-group {
  text-align: center;
  margin-top: 20px;
  line-height: 1;
}
.kill-layer .container .btn-group .btn {
  display: inline-block;
  border-radius: 2.5px;
  padding: 6px 30px;
  border: 1px solid #316f4d;
  overflow: hidden;
  color: #316f4d;
}
.kill-layer .container .btn-group .btn.active {
  color: #ffffff;
  background: #316f4d;
}
#seckill-detail .wrap {
  margin-bottom: 58px;
}
#seckill-detail .banner img {
  width: 100%;
}
#seckill-detail .info {
  padding: 13px 9.5px 11px;
}
#seckill-detail .info .info_left {
  width: 70%;
  line-height: 1.5;
}
#seckill-detail .post {
  padding: 11px 9.5px 6px;
  overflow: hidden;
}
#seckill-detail .post .item {
  margin-bottom: 5px;
  margin-right: 20px;
}
#seckill-detail .post .item span {
  display: block;
  height: 14px;
  line-height: 14px;
}
#seckill-detail .post .item .icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  background: url("./imgs/choice.png") center center no-repeat;
  background-size: contain;
}
#seckill-detail .choice {
  padding: 8px 9.5px;
}
#seckill-detail .choice .title,
#seckill-detail .choice .content {
  height: 20px;
  line-height: 20px;
}
#seckill-detail .choice .title {
  margin-right: 23px;
}
#seckill-detail .choice .arrow {
  width: 7px;
  height: 12px;
  background: url("./imgs/arrow.png") center center no-repeat;
  background-size: contain;
  right: 9.5px;
  top: 50%;
  margin-top: -6px;
}
#seckill-detail .source {
  padding: 11px 9.5px;
}
#seckill-detail .source .icon {
  display: block;
  height: 14px;
  width: 12px;
  margin-right: 6px;
  background: url("./imgs/tip.png") center center no-repeat;
  background-size: contain;
}
#seckill-detail .source .content {
  height: 14px;
  line-height: 14px;
}
#seckill-detail .store {
  display: none;
  box-sizing: content-box;
  padding: 8px 9.5px;
}
#seckill-detail .store .content {
  height: 20px;
  line-height: 20px;
}
#seckill-detail .store .surplus {
  height: 20px;
  line-height: 20px;
}
#seckill-detail .store .progress {
  height: 20px;
  margin-right: 10px;
  background: #ffffff;
}
#seckill-detail .store .progress .bar {
  top: 50%;
  left: 0;
  margin-top: -5px;
  height: 10px;
  width: 100%;
  background-color: #ebebeb;
  border-radius: 10px;
  overflow: hidden;
}
#seckill-detail .store .progress .bar div {
  width: 0;
  height: 10px;
  background: url("./imgs/progress.png") 0 0 repeat;
  border-radius: 10px;
  -webkit-transition: all 1s;
}
#seckill-detail .subtitle {
  padding: 8px 9.5px;
}
#seckill-detail .subtitle h2 {
  margin-right: 11px;
}
#seckill-detail .subtitle span {
  display: block;
}
#seckill-detail .subtitle h2,
#seckill-detail .subtitle span {
  height: 20px;
  line-height: 20px;
}
#seckill-detail .know .content {
  padding: 10px 9.5px 12px 14.5px;
}
#seckill-detail .know .content p {
  line-height: 1.5;
}
#seckill-detail .goods-content {
  box-sizing: content-box;
}
#seckill-detail .goods-content ul li div {
  box-sizing: content-box;
  padding: 8px 0;
  height: 20px;
  line-height: 20px;
}
#seckill-detail .goods-content ul li:last-child {
  border-bottom: none;
}
#seckill-detail .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 99;
  background: #dcdcdc;
}
#seckill-detail .footer .content {
  overflow: hidden;
}
#seckill-detail .footer .content .footer_l,
#seckill-detail .footer .content .footer_r {
  height: 50px;
}
#seckill-detail .footer .content .footer_l {
  width: 60%;
  padding: 10.75px 0;
}
#seckill-detail .footer .content .footer_l .section {
  height: 28.5px;
}
#seckill-detail .footer .content .footer_l .section a {
  display: block;
  width: 28.5px;
  height: 28.5px;
  background: #dcdcdc;
  margin-right: 5px;
}
#seckill-detail .footer .content .footer_l .section .home {
  background: url("./imgs/home.png") center center no-repeat;
  background-size: contain;
}
#seckill-detail .footer .content .footer_l .section .order {
  background: url("./imgs/order.png") center center no-repeat;
  background-size: contain;
}
#seckill-detail .footer .content .footer_l .section .price {
  display: table-cell;
  padding-top: 6px;
  height: 20px;
  vertical-align: bottom;
  font-size: 17px;
}
#seckill-detail .footer .content .footer_l .section .price .symbol {
  margin-right: 3px;
}
#seckill-detail .footer .content .footer_l .section .price .original {
  text-decoration: line-through;
  margin-left: 3px;
}
#seckill-detail .footer .content .footer_r {
  width: 40%;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}
#seckill-detail .footer .content .footer_r.disabled {
  background: #808080;
}
#seckill-pay .wrap {
  margin-bottom: 58px;
}
#seckill-pay .header {
  overflow: hidden;
  padding: 8px 9.5px 3px;
}
#seckill-pay .header .item {
  margin-bottom: 5px;
  margin-right: 10px;
}
#seckill-pay .header .item span {
  display: block;
  height: 14px;
  line-height: 14px;
}
#seckill-pay .header .item .icon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  background: url("./imgs/choice.png") center center no-repeat;
  background-size: contain;
}
#seckill-pay ul {
  padding: 0 13px;
}
#seckill-pay ul .title {
  height: 31px;
  line-height: 31px;
}
#seckill-pay ul li {
  padding: 6px 0;
}
#seckill-pay ul li .em {
  margin: 0 0.5em;
}
#seckill-pay ul li input {
  display: block;
  height: 31px;
  line-height: 31px;
  outline: none;
  border: none;
  margin-left: 23px;
}
#seckill-pay ul li input::-webkit-input-placeholder {
  color: #c3c3c3;
}
#seckill-pay ul li .choice {
  height: 31px;
  line-height: 31px;
}
#seckill-pay ul li .choice span {
  top: 50%;
  right: 4px;
  -webkit-transform: translate(0, -50%);
  width: 15px;
  height: 15.5px;
  background: url("./imgs/disabled.png") center center no-repeat;
  background-size: contain;
}
#seckill-pay ul li .choice.active span {
  background: url("./imgs/choice.png") center center no-repeat;
  background-size: contain;
}
#seckill-pay .goods-detail {
  padding: 13px;
}
#seckill-pay .goods-detail .goods-img {
  width: 80px;
  height: 80px;
  background: #dcdcdc;
  margin-right: 18px;
  overflow: hidden;
}
#seckill-pay .goods-detail .goods-img img {
  width: 100%;
}
#seckill-pay .goods-detail .goods-info {
  padding-top: 8px;
}
#seckill-pay .goods-detail .goods-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#seckill-pay .goods-detail .goods-info .goods-name {
  margin-bottom: 14px;
}
#seckill-pay .title {
  height: 25px;
  line-height: 25px;
}
#seckill-pay .number {
  box-sizing: content-box;
  padding: 7px 13px;
  height: 25px;
}
#seckill-pay .number .limit {
  height: 25px;
  line-height: 25px;
  margin-left: 10px;
  position: relative;
}
#seckill-pay .number .limit span {
  position: absolute;
  color: #ffffff;
  min-width: 50px;
  text-align: center;
  border-radius: 2.5px;
  height: 15px;
  line-height: 15px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  padding: 0 3px;
}
#seckill-pay .number .flex1 {
  text-align: right;
}
#seckill-pay .number .flex1 .number-input {
  display: inline-block;
  width: 102px;
  height: 24px;
  border: 1px solid #dcdcdc;
  line-height: 25px;
  overflow: hidden;
}
#seckill-pay .number .flex1 .number-input .reduce {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-right: 1px solid #dcdcdc;
}
#seckill-pay .number .flex1 .number-input .reduce:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 2px;
  background: #555555;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}
#seckill-pay .number .flex1 .number-input input {
  width: 52px;
  height: 24px;
  line-height: 24px;
  border: none;
  background: none;
  text-align: center;
}
#seckill-pay .number .flex1 .number-input input[disabled] {
  background: #ffffff;
  color: #000;
}
#seckill-pay .number .flex1 .number-input .increase {
  width: 24px;
  height: 24px;
  border-left: 1px solid #dcdcdc;
}
#seckill-pay .number .flex1 .number-input .increase:after,
#seckill-pay .number .flex1 .number-input .increase:before {
  position: absolute;
  content: "";
  background: #555555;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}
#seckill-pay .number .flex1 .number-input .increase:after {
  width: 8px;
  height: 2px;
}
#seckill-pay .number .flex1 .number-input .increase:before {
  width: 2px;
  height: 8px;
}
#seckill-pay .order-time {
  padding: 7px 13px;
}
#seckill-pay .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
}
#seckill-pay .footer .flex1 {
  padding-left: 18.5px;
}
#seckill-pay .footer .flex1 .table-cell {
  height: 40px;
  line-height: 40px;
  display: table-cell;
  vertical-align: bottom;
}
#seckill-pay .footer .buy {
  display: block;
  width: 131px;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 375px) {
  .f22 {
    font-size: 13px;
  }
  .f24 {
    font-size: 14px;
  }
  .f26 {
    font-size: 15px;
  }
  .f20 {
    font-size: 12px;
  }
  .f30 {
    font-size: 17px;
  }
  .f32 {
    font-size: 20px;
  }
}
@media screen and (min-width: 360px) {
  .f22 {
    font-size: 13px;
  }
  .f24 {
    font-size: 14px;
  }
  .f26 {
    font-size: 15px;
  }
  .f20 {
    font-size: 12px;
  }
  .f30 {
    font-size: 17px;
  }
  .f32 {
    font-size: 20px;
  }
}
@media screen and (min-width: 412px) {
  .f22 {
    font-size: 14px;
  }
  .f24 {
    font-size: 15px;
  }
  .f26 {
    font-size: 16px;
  }
  .f20 {
    font-size: 13px;
  }
  .f32 {
    font-size: 19px;
  }
  .f30 {
    font-size: 18px;
  }
}
/*商品详情*/
.foot_fixed__fsy > div > .img_link img{display: none;}
.foot_fixed__fsy > div > .img_link:nth-child(1){
  background-image: url('./imgs/ico9.png');
  background-size: 100%;
}
.foot_fixed__fsy > div > .img_link:nth-child(2){
  background-image: url('./imgs/ico10.png');
  background-size: 100%;
}
/*套票选择*/
.bg_fafafa .cont_price{color: #316f4d;}
.calendar tr td.hook,.calendar tr div.hook{background-image: url(./imgs/hook.png);}

.fsfl>div>.haoma{color: #316f4d;}
.fsfl>div::before{color: #316f4d;}
.refund_reason .choose em,.foot_btn >*{background:#316f4d}
.refund_reason .choose em{ border-color:#316f4d;}
.receive_list_tips .btn_minor.goOnSend,.receive_list_tips .btn_minor.viewReturn{background: #c3d18f;color:#333;}
.hotel_select_time__fsy tr td div.full{background: #bfbfbf;}
.hotel_select_time__fsy .explain .bg_fb4947{background: #bfbfbf;}
.coupon{background-image: url(./imgs/1.png);}

