@charset "utf-8";
/* CSS Document transparent*/
/* 边距/位置/宽高等 */

._w{width:100%}
body,html,a{color:#555;}
body,html{width:100%; height:100%; background:#eeeeee; }

.img{width:60px; display:inline-block; border-radius:50%; overflow:hidden}
.list_style_3 em{  color:#fff; padding:1px 5px; margin-right:14px;border-radius:4px;width:30px;}
.add_new_list em,.group_list em,.income_list em,.ico{display:inline-block;width:20px; height:20px;line-height:20px; border-radius:50%; text-align:center}
.group_list em,.income_list em,.ico{margin-right:5px; }
.add_new_list em{ margin-right:10px;}

.group_head{background:url(../images/bg_01.jpg) no-repeat left bottom; background-size:cover; padding:25px 10px;}
.group_head >*{display:inline-block; text-align:left; vertical-align:middle;}
.group_head .img{margin-right:20px; border:3px solid rgba(255,255,255,0.3); box-sizing:content-box}
.group_head em{padding-right:0.5rem;font-family:"iconfont";}
.group_head p{ line-height:2}
.icoimg{width:15px; height:15px; vertical-align:text-bottom; margin-right:5px;}

.statustep{ padding:10px}
.statustep>*{padding:5px; position:relative}
.statustep span{display:inline-block;width:27px; height:27px; border-radius:50%; line-height:27px; border:3px solid rgba(255,148,2,0); box-sizing:content-box; font-family:arial; margin-bottom:5px}
.statustep .bg_main{border-color:rgba(255,148,2,0.3)}
.statustep hr{position:absolute; width:35%; left:-17%; top:20px;}

.add_new_list .input_item em{ background:#e7e7e7; color:#fff; box-sizing:content-box; }
.add_new_list .input_item>*:first-child{min-width:7rem;}
.add_new_list .btn_void{ padding:3px 5px; border-radius:3px; display:inline-block; width:5.5rem; text-align:center;}

.tabmenus{ padding:4px; position:fixed; width:100%; top:0; z-index:999}
.tabmenus>*{margin:0 2px; border-radius:3px; padding:4px;width:35%;}
.submitbtn,a.submitbtn{border-radius:3em; box-shadow:0px 2px 5px rgba(0,0,0,0.35); padding:8px 10px;width:70%}

.type_pull .webkitbox{ -webkit-box-align:baseline}
.type_pull>*{width:100%; height:100%;}
.type_pull ul{height:100%}
.type_pull ul:first-child{width:130px; max-width:130px; min-width:130px}
.type_pull ul:first-child .color_main{ background:#fff;}
.type_pull li,.type_pull li:first-child{border-width:0px 0px 1px 0px;}
.type_pull ._tab_list li:before{content:'\e602'; font-family:"iconfont"; margin-right:5px}
.type_pull em{margin-right:5px}

.group_list{padding:0px 10px 10px 10px}
.group_list>*{ border-radius:5px; overflow:hidden; padding:8px; margin-top:8px;}
.group_list .bd_bottom{padding-bottom:8px}
.group_list em{text-align:center;}
.group_list p{line-height:1.2}
.list_foot { text-align:right; padding:8px 0 0 8px;}
.list_foot>*{margin-left:5px}
.list_foot .btn_void{color:#888; border-color:#888}

.income_list{padding:0 8px;}
.income_list .btn_main{ float:right}

.table thead tr{position:fixed; z-index:99; border-radius:4px 4px 0 0;}
.table td{padding:5px 0;}
.table th,.table [thead]>*{ border-left:1px solid #fff;padding:10px 0;}
.table tr{ border-bottom:1px solid #eeeeee;}
.table th:first-child,.table tr:last-child,.table [thead]>*:first-child{border:0}
.table p{line-height:1.1; padding:0 5px;}

.detail_pull .detail_list {margin:30% auto; width:70%; border-radius:8px; overflow:hidden; height:270px}
.detail_pull ul{height:193px}
.detail_pull li{padding:8px 10px}

.pull_close>*{ color:#fff; font-size:2rem; font-weight:lighter; border:1px solid #fff;  border-radius:50%; width:30px; height:30px; display:inline-block; line-height:22px}
.haibao{background:url(../images/haibao.jpg) no-repeat #fff; background-size:100% 100%; min-height:100%; position:relative}

