@charset "utf-8";
/* CSS Document */

body,html{background:#fff}
.goods_title{ padding:3% 2%; padding-bottom:0; font-size:0.45rem}
.goods_name { font-size:0.7rem; color:#000;}
.goods_list,.cards_list,.order_list{ padding:3% 2%; }
.goods_list .item,.cards_list .item,.order_list .item{ display:inline-block; width:48.1%; border-radius:0.3rem; overflow:hidden; border:1px solid #e3e3e3; margin-bottom:3%; color:#000;}
.goods_list .item:first-child{ display:block; width:100%;font-size:0}
.goods_list .item >div{ padding:1% 2%}
.goods_list .item .ui_img_auto_cut{width:100%; height:4.5rem;}
.goods_list .item .goods_desc,.cards_list .item .goods_desc {  color:#999;font-size:0.55rem;}
.goods_list .item .goods_point {font-size:0.6rem;}
.goods_list .item .goods_point span { font-size:1.2rem;}

.cards_list .item{width:100%; border-radius:0.3rem 0.3rem 0 0; background:#fff; padding-bottom:2%}
.cards_list .item>div{ padding:1% 3%}
.cards_list .item .goods_name{margin-top:1%; padding-bottom:0}
.cards_list .item .ui_img_auto_cut{ height:7rem;width:100%; padding:0}
.cards_list .item .ui_price{ float:right; font-size:0.9rem; margin-top:2%;}

.detail .goods_name{ padding: 3%}
.detail .goods_rest,.detail .ui_price{ color:#de3734; float:right; margin-right:3%;}
.detail .ui_price{ color:#000; font-size:0.8rem; margin-top:3%}
.detail .goods_time,.detail .goods_dec{ padding:0 3%; color:#999}
.detail .goods_dec{padding-bottom:3%}

.detail .goods_point{  border-top:1px solid #e3e3e3; margin:3%; margin-right:0; padding:2% 0}
.detail .goods_point span{ font-size:1rem}
.detail .goods_point del{ color:#999}
.detail .store{ padding:3%; margin-top:0; display:block; color:#000;}
.detail .store:after{content:'>'; font-weight:bold; position:absolute; right:3%; color:#a1a1a1; font-size:0.65rem;}
.detail .how_use{ padding:3%; line-height:1.5}
.detail .how_use p:first-child{ margin-bottom:3%}
.ui_foot_fixed_btn .btn{ padding:2% 3%; float:right; background:#ff7200; color:#fff; border-radius:0.3rem; margin-right:4%; font-size:0.6rem}
.ui_foot_fixed_btn span{ font-size:0.5rem}

.order_list .item{width:94%;background:#fff; padding:4% 3%; padding-bottom:6%;}
.order_list .cardtype{ border-bottom:1px solid #d3d3d3; padding-bottom:3%; margin-bottom:4%;}
.order_list .cardtype span:last-child{ color:#ff7200; float:right}
.order_list .item .goods_name{ height:3em;}
.order_list .item .ui_price{ float:right; font-size:0.9rem}
.order_list .item .orderid,.order_list .item .time{ font-size:0.55rem; color:#999}

.erweima{ margin-top:0; text-align:center; padding:3% 0}
.erweima div{ padding:2% 0}
.erweima div img{width:40%}
.pull_erweima{background:#fff; color:#000;}
.pull_erweima div img{width:80%}
.pull_erweima .erweima{ padding:8% 0}

.page .number{color:#fff; position:absolute; bottom:4%; right:4%; font-size:0.55rem;}
.page .number:before{ content:"No."}
.headers .ui_img_auto_cut{ width:100%; height:7rem}



